.logo{
  //order: 2;

  transform: translateX(-50%);
  z-index: 60;

  &__picture {
    top:-35px;
    left: 47%;
    position: absolute;
    width: 100px;
    height: 100px;
  }
  &__link {
    color: #ffc22f;
    font-family: 'Eurofurence';
    font-weight: normal;
    font-size: 1.5rem;
  }


}
